
<div class="row">
  <div class="col-lg-6">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter First Name">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
          </div>
		  <div class="form-group">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation" placeholder="Enter Designation">
          </div>
		   <div class="form-group">
            <label for="contactAddress">Address</label>
            <textarea class="form-control" id="contactAddress" rows="3" placeholder="Enter Address"></textarea>
			 
          </div>
		  <div class="row">
			   <div class="form-group">
				<label for="contactEmail">Email</label>
				<input type="email" class="form-control" id="contactEmail" placeholder="Enter Email">
			  </div>
			  <div class="form-group col-lg-4">
				<label for="contactNo">Contact</label>
				<input type="text" class="form-control" id="contactNo" placeholder="Enter Contact Number">
			  </div>
		  </div>
		  <p class="text-right">
			<button type="submit" class="btn btn-primary">Next</button>
		  </p>
      </div>
</div>

