<div class="row">
  <div class="col-sm-2">
      <label>Configuration</label>
      <select class="form-control">
          <option>Select</option>
          <option selected>TT_Configuration</option>
          <option>MDM_Configuration</option>
          <option>Fidessa_Configuration</option>
          <option>Trep_Configuration</option>
          <option>Bloomberg_Configuration</option>
      </select>
  </div>

  <div class="col-sm-2">
      <label>Mapping</label>
      <select class="form-control">
          <option>Select</option>
          <option selected>TT_Mapping</option>
          <option>MDM_Mapping</option>
          <option>Fidessa_Mapping</option>
          <option>Trep_Mapping</option>
          <option>Bloomberg_Mapping</option>
      </select>
  </div>

  <div class="col-sm-2">
      <label>Period</label>
      <select class="form-control">
          <option>Select</option>
          <option selected>June 2018</option>
          <option>May 2018</option>
          <option>April 2018</option>
      </select>
  </div>

  <div class="col-sm-1" style="padding-top:28px">
    <a class="btn btn-primary" href="inventory/transformationStep2" >Transform</a>
  </div>

</div>
<br/>
